<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <script
        src="https://code.jquery.com/jquery-3.1.1.js"
        integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
        crossorigin="anonymous"></script>
        <script src='/js/scripts.php'></script>
    </head>
    <body>
        <form class="nutrition" action="/nutrition" method="post">
            <button type="submit" name="nutrition">nutrition</button>
        </form>
        <form class="treats" action="/treats" method="post">
            <button type="submit" name="treats">treats</button>
        </form>
        <form class="play" action="/play" method="post">
            <button type="submit" name="play">play</button>
        </form>
        <form class="bathe" action="/bathe" method="post">
            <button type="submit" name="bathe">bathe</button>
        </form>
        <form class="medicine" action="/medicine" method="post">
            <button type="submit" name="medicine">medicine</button>
        </form>
        <ul>
            <li>Name: {{ tamagotchi.getName }}</li>
            <li>Current Mood: {{ tamagotchi.determineMood }}</li>
            <li>Current Filth: {{ tamagotchi.filth }}</li>
            <li>Appetite: {{ tamagotchi.hunger }}</li>
            <li>Health: {{ tamagotchi.health }}</li>
            <li>Love: {{ tamagotchi.love }}</li>
            <li>Happiness: {{ tamagotchi.happiness }}</li>
            <li>Remaining Food: {{ tamagotchi.getNutrition }}</li>
            <li>Elapsed Time: <span id='elapsedTime'></span></li>
        </ul>
        <form class="restart" action="/restart" method="post">
            <button type="submit" name="restart">restart</button>
        </form>
    </body>
</html>
